.modal
    .modal__content
        button.modal__close(type='button')
            img(src='assets/img/close.svg' alt='Закрыть')
        ul.social
            li.social__item
                a.social__link(href='#')
                    img(src='assets/img/share-modal/facebook.svg' alt='скопировать')
            li.social__item
                a.social__link(href='#')
                    img(src='assets/img/share-modal/twitter.svg' alt='скопировать')
            li.social__item
                 a.social__link(href='#')
                    img(src='assets/img/share-modal/vk.svg' alt='скопировать')
            li.social__item
                 a.social__link(href='#')
                    img(src='assets/img/share-modal/copy_file.svg' alt='скопировать')
