aside.sidebar
    .sidebar__header
        img(src='assets/img/sidebar-header.jpg' alt='')
    .sidebar__content
        .profile
            img.profile__avatar(src='https://placehold.it/100' alt='Photo')
            .profile__header
                .profile__name Роман Габбасов
                .profile__prof блог front-end разработчика
            ul.social
                li.social__item
                    a.social__link(href='#' target='_blank')
                        img(src='assets/img/instagram.svg' alt='Роман Габбасов instagram')
                li.social__item
                    a.social__link(href='#' target='_blank')
                        img(src='assets/img/vk.svg' alt='Роман Габбасов vk')
                li.social__item
                    a.social__link(href='#' target='_blank')
                        img(src='assets/img/behance.svg' alt='Роман Габбасов behance')
            .profile__text
                p
                    | Front-end разработчик, дизайнер с 2017 года.
    nav.nav.nav--mobile
        ul.nav__list
            li.nav__item
                a.nav__link(href='index.html') Главная
            li.nav__item
                a.nav__link.has-subnav(href='#') Статьи
                ul.subnav
                    li
                        a.subnav__link(href='#') Создание сайтов
                    li
                        a.subnav__link(href='#') Интернет-маркетинг
                    li
                        a.subnav__link(href='#') Продвижение видео
            li.nav__item
                a.nav__link(href='text.html') Обо мне
            li.nav__item
                a.nav__link(href='text.html') Реклама
            li.nav__item
                a.nav__link(href='profile.html') Профиль
            li.nav__item
                a.nav__link(href='#') Выйти

        // /.profile
        // /.sidebar__content
        .sidebar__footer
            a.btn.btn--red(href='works.html') Мои работы
            button.btn.btn--blue(type='button') Написать мне