extends ../layout/main.pug

block title
    | Search

block body
    h1.page__title Результаты поиска "Заказать создание сайта"
    article.post
        .post__content
            h2.post__title
                a(href='post.html') Хороший MacBook ускорит Вашу работу
            p.post__text
                |   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus facilis repellat fuga ullam est expedita quasi magni exercitationem hic earum possimus, provident quae perferendis, voluptate veniam et modi asperiores libero!

        .post__footer
            ul.post__data
                li.post__data-item
                    time(datetime='2020-06-21 19:20') 21.06.21
                li.post__data-item
                    a(href='#') Создание сайтов

            a.post__read(href='post.html') перейти
    article.post
        .post__content
            h2.post__title
                a(href='post.html') Как писать код быстро и безболезненно?

        .post__footer
            ul.post__data
                li.post__data-item
                    time(datetime='2020-06-21 19:20') 21.06.21
                li.post__data-item
                    a(href='#') продвижение видео

            a.post__read(href='post.html') перейти
    article.post
        .post__content
            h2.post__title
                a(href='post.html') Хороший MacBook ускорит Вашу работу
            p.post__text
                |   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus facilis repellat fuga ullam est expedita quasi magni exercitationem hic earum possimus, provident quae perferendis, voluptate veniam et modi asperiores libero!

        .post__footer
            ul.post__data
                li.post__data-item
                    time(datetime='2020-06-21 19:20') 21.06.21
                li.post__data-item
                    a(href='#') Создание сайтов

            a.post__read(href='post.html') перейти
    article.post
        .post__content
            h2.post__title
                a(href='post.html') Как писать код быстро и безболезненно?

        .post__footer
            ul.post__data
                li.post__data-item
                    time(datetime='2020-06-21 19:20') 21.06.21
                li.post__data-item
                    a(href='#') продвижение видео

            a.post__read(href='post.html') перейти