extends ../layout/main.pug

block title
    | Text

block body
    article.post
        .post__actions
            a(href='index.html') вернуться назад
            a(href='#')
                | поделиться
                img.post__actions-icon(src='assets/img/share.svg' alt='поделиться')
        .post__header.post__header--open
            h1.post__title.post__title--mb0 Как я сходил на FrontEnd Conf 2021
        .post__content
            .post__text
                h2 Title h2
                    p
                        |   Lorem
                        a(href='#')    ipsum dolor sit
                        |    amet, consectetur adipisicing elit. Voluptatibus facilis repellat fuga ullam est
                        |    expedita quasi magni exercitationem hic earum possimus, provident quae perferendis,
                        |    voluptate veniam et modi asperiores libero!

                h3 Title h3
                    p
                        |   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus facilis repellat fuga ullam est expedita quasi magni exercitationem hic earum possimus, provident quae perferendis, voluptate veniam et modi asperiores libero!

                h4 Title h4
                    p
                        |   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus facilis repellat fuga ullam est expedita quasi magni exercitationem hic earum possimus, provident quae perferendis, voluptate veniam et modi asperiores libero!

                p
                    img(src='assets/img/post_page/screen_code.jpg' alt='')
                ul
                    li Item
                    li Item
                    li Item
                ol
                    li Item
                    li Item
                    li Item
                table
                    tbody
                        tr
                            td 1
                            td 2
                            td 3
                p
                    span.fr-video
                        <iframe src="https://www.youtube.com/embed/5AwdkGKmZ0I" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

