extends ../layout/main.pug

block title
    | Works

block body
    h1.page__title Мои работы
    article.work
        .work__preview
            picture
                source(srcset='http://placehold.it/575x150' media='(max-width: 575px)')
                img(src='assets/img/work/work-1.jpg'  alt='work-1')
        .work__content
            h2.work__title
                a(href='#' target='_blank') altermono.com
            .work__description
                p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium at hic laboriosam unde! At
                labore nostrum quidem repellat suscipit. Commodi error nam, optio praesentium qui reiciendis repellat tempora unde.
            ul.tags
                li.tags__item дизайн
                li.tags__item создание сайта
                li.tags__item SMM
            .work__footer
                button.btn.btn--blue.btn--rounded.btn--sm(href='#' target='_blank') Перейти на сайт

    article.work
        .work__preview
            picture
                source(srcset='http://placehold.it/575x150' media='(max-width: 575px)')
                img(src='assets/img/work/work-1.jpg'  alt='work-2')
        .work__content
            h2.work__title
                a(href='#' target='_blank') codedoco.com
            .work__description
                p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium at hic laboriosam unde!
            ul.tags
                li.tags__item оптимизация
                li.tags__item app
                li.tags__item SMM
                li.tags__item app2
                li.tags__item app3
                li.tags__item SMM
            .work__footer
                button.btn.btn--blue.btn--rounded.btn--sm(href='#' target='_blank') Перейти на сайт