@mixin post_a {
  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
};

@mixin breakpoint ($bp) {
  @media screen and (max-width: $bp) {
    @content;
  }
}