
$primary:   #202020;
$secondary: #121212;
$white:     #fff;
$red:       #ed3024;
$blue:      #3137c9;
$black:     #000000;



$z-index-sidebar: 1000;
$z-index-header:  1000;

$sidebar-width: 300px;
$ff_body      :   -apple-system,
BlinkMacSystemFont,"Segoe UI",
Roboto,"Helvetica Neue",
Arial,"Noto Sans",
sans-serif,"Apple Color Emoji",
"Segoe UI Emoji","Segoe UI Symbol",
"Noto Color Emoji";

$pathImg: '/assets/img/add/';
