.profile{
  margin-top: -5rem;
  @include breakpoint($tablet-bp) {
    margin-top: -3.25rem;
    position: relative;
  }
}

.profile__avatar{
  display: block;
  width: 10rem;
  height: 10rem;
  border: 2px solid $white;
  margin: 0 auto 2rem;
  position: relative;
  top: -50px;

  box-shadow: 0 7px 20px rgba($black, 0.25);
  border-radius: 50%;
  @include breakpoint($tablet-bp) {
    width: 6.5rem;
    height: 6.5rem;
    margin-left: 0;
    position: absolute;
    left: 0;
  }
}

.profile__name{
  font-size: 1.8rem;

}

.profile__prof{
  margin-bottom: 2rem;
  font-size: 1.4rem;
  font-weight: 300;
  color: #dedede;

}

.profile__text{
  padding: 3rem 0;
  margin: 3rem 0;
  font-size: 1.2rem;
  text-align: center;

  border-top: 1px solid #1c1c1c;
  border-bottom: 1px solid #1c1c1c;
}
.profile__header{
  margin-bottom: 2rem;
  text-align: center;
  @include breakpoint($tablet-bp){
    padding-top: 4rem;
    padding-left: 8rem;
    text-align: left;
  }
}