





doctype html
html(lang='ru')
  head
    block head
      include ../includes/modules/head.pug
        title
           block title
  body
    .page
      block header
        include ../includes/modules/header.pug

      block sidebar
        include ../includes/modules/sidebar.pug

      main.main
        .container
           block body

    block modal
      include ../includes/modules/contact-modal.pug


  script (src='js/app.js')
//head
    block head
        title
            block title